[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
python-dotenv = "*"
uvicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
psycopg2-binary = "*"
python-jose = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.11"
